* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background: #e1e0dd;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.header {
  width: 100%;
}

.button {
  width: 860px;
  height: 100px;
  background: #0D2B35;
  color: #f1f2f0;
  border-radius: 10px;
  font-size: 80px;
  text-align: center;
  padding-top: 7px;
  margin-bottom: 20px;
  margin-left: 258px;
  margin-top: 25px;
}

ul {
  float: right;
  width: 40%;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color: #0D2B35;
  margin-right: 5%;
  margin-top: 55px;
}

li {
  margin-bottom: 20px;
}

img {
  margin-top: 50px;
  width: 40%;
}

h1 {
  width: 100%;
  height: 200px;
  background: #0D2B35;
  color: #f1f2f0;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
  font-size: 100px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  padding-top: 50px;
}

#gameBoard {
  width: 900px;
  background: #e1e0dd;
  margin: 0 auto;
  overflow: auto;
  margin-top: 50px;
}

.cards {
  float: left;
  border-radius: 10px;
  margin: 10px;
}



.blue_wall, .green_wall, .navy_wall, .pink_wall, .red_wall, .teal_wall, .white_wall, .yellow_wall{
	background: url(_images/sprites.png) no-repeat;
}

.blue_wall{
	background-position: 0 0;
	width: 200px;
	height: 200px;
}

.green_wall{
	background-position: -250.98959350585938px 0;
	width: 200px;
	height: 200px;
}

.navy_wall{
	background-position: -499.9896240234375px 0;
	width: 200px;
	height: 200px;
}

.pink_wall{
	background-position: -700px 0;
	width: 200px;
	height: 200px;
}

.red_wall{
	background-position: -700px -249.9965362548828px ;
	width: 200px;
	height: 200px;
}

.teal_wall{
	background-position: -498.98614501953125px -250.98960876464844px ;
	width: 200px;
	height: 200px;
}

.white_wall{
	background-position: 0 -250.98960876464844px ;
	width: 200px;
	height: 200px;
}

.yellow_wall{
	background-position: -249.98611450195312px -250.98960876464844px ;
	width: 200px;
	height: 200px;
}

.hide {
  background: #163641;
}
