* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #37bbe4;
}

h1 {
  width: 100%;
  height: 111px;
  background: #0D2B35;
  color: #f1f2f0;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
  font-size: 60px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

#gameBoard {
  width: 800px;
  background: #e1e0dd;
  margin: 0 auto;
  overflow: auto;
}

.cards {
  width: 200px;
  height: 200px;
  border: 1px solid #777;
  float: left;
  border-radius: 10px;
}



.blue_wall, .green_wall, .navy_wall, .pink_wall, .red_wall, .teal_wall, .white_wall, .yellow_wall{
	background: url(sprites/sprites.png) no-repeat;
}

.blue_wall{
	background-position: 0 0;
	width: 200px;
	height: 200px;
}

.green_wall{
	background-position: -250.98959350585938px 0;
	width: 200px;
	height: 200px;
}

.navy_wall{
	background-position: -499.9896240234375px 0;
	width: 200px;
	height: 200px;
}

.pink_wall{
	background-position: -700px 0;
	width: 200px;
	height: 200px;
}

.red_wall{
	background-position: -700px -249.9965362548828px ;
	width: 200px;
	height: 200px;
}

.teal_wall{
	background-position: -498.98614501953125px -250.98960876464844px ;
	width: 200px;
	height: 200px;
}

.white_wall{
	background-position: 0 -250.98960876464844px ;
	width: 200px;
	height: 200px;
}

.yellow_wall{
	background-position: -249.98611450195312px -250.98960876464844px ;
	width: 200px;
	height: 200px;
}

.hide {
  background: #163641;
}
